* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html, body {
  height: 100%;
  width: 100%;
}

.container {

    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.blue_card {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 368px;
    height: 514px;
    border-radius: 36px;
    background: linear-gradient(
        to bottom,
        hsl(252, 100%, 67%),
        hsl(241, 81%, 54%)
    );
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

}

.blue_circle{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50%;
    height: 50%;
    height: 193px;
    margin-top: 25px;
    background-color: rgb(75, 46, 199);
    margin-bottom: 41px;
}

.appreciation_and_comment {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.reaction {

    display: flex;
    flex-direction: row;

}

.memory {

    display: flex;
    flex-direction: row;

}

.verbal {

    display: flex;
    flex-direction: row;

}

.visual {

    display: flex;
    flex-direction: row;

}

.result {

    margin-top: 42px;
    font-size: 23px;
    font-family: "Figtree", sans-serif;
    font-weight: 500;
    color: hsl(241, 100%, 89%);

}

.score {

    font-family: "Fightree", sans-serif;
    font-size: 61px;
    color: hsl(221, 100%, 96%);
    font-weight: 500;

}

.score2 {

    font-family: "Fightree", sans-serif;
    font-size: 14px;
    color: hsl(241, 100%, 89%);
    font-weight: 700;

}

.appreciation {

    font-family:    "Fightree", sans-serif;
    font-size: 30px;
    color: hsl(221, 100%, 96%);
    font-weight: 500;
    margin-bottom: 27px;

}

.comment {

    font-family: "Fightree", sans-serif;
    font-size: 18px;
    color: hsl(241, 100%, 89%);
    font-weight: 500;
    line-height: 1.5;

}