* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html, body {

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: hsl(221, 100%, 96%);

}

.container {

    height: 514px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 36px;

}

.blue_card {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 368px;
    height: 514px;
    border-radius: 36px;
    background: linear-gradient(
        to bottom,
        hsl(252, 100%, 67%),
        hsl(241, 81%, 54%)
    );
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

}

.blue_circle{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50%;
    height: 50%;
    height: 193px;
    margin-top: 25px;
    background-color: rgb(75, 46, 199);
    margin-bottom: 41px;
}

.appreciation_and_comment {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.reaction {

    display: flex;
    flex-direction: row;

}

.memory {

    display: flex;
    flex-direction: row;

}

.verbal {

    display: flex;
    flex-direction: row;

}

.visual {

    display: flex;
    flex-direction: row;

}

.result {

    margin-top: 42px;
    font-size: 23px;
    font-family: "Figtree", sans-serif;
    font-weight: 500;
    color: hsl(241, 100%, 89%);

}

.score {

    font-family: "Fightree", sans-serif;
    font-size: 61px;
    color: hsl(221, 100%, 96%);
    font-weight: 500;

}

.score2 {

    font-family: "Fightree", sans-serif;
    font-size: 14px;
    color: hsl(241, 100%, 89%);
    font-weight: 700;

}

.appreciation {

    font-family:    "Fightree", sans-serif;
    font-size: 30px;
    color: hsl(221, 100%, 96%);
    font-weight: 500;
    margin-bottom: 27px;

}

.comment {

    font-family: "Fightree", sans-serif;
    font-size: 18px;
    color: hsl(241, 100%, 89%);
    font-weight: 500;
    line-height: 1.5;

}

.white_card {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 368px;
    height: 514px;
    border-radius: 0 36px 36px 0;
    background-color: hsl(0, 0%, 100%);

}

.summary {

    font-family: "Fightree", sans-serif;
    align-self: flex-start;
    font-size: 23px;
    color: hsl(226, 42px, 100%);
    font-weight: 700;
    margin-top: 45px;
    margin-left: 41px;
    margin-bottom: 34px;

}

.reaction {

    background-color: hsl(353, 82%, 98%);
    width: 288px;
    height: 56px;
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
    justify-content: space-between;

}

.memory {

    background-color: hsl(38, 85%, 97%);
    width: 288px;
    height: 56px;
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
    justify-content: space-between;

}

.verbal {

    background-color: hsl(164, 65%, 97%);
    width: 288px;
    height: 56px;
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
    justify-content: space-between;

}

.visual {

    background-color: hsl(240, 71%, 97%);
    width: 288px;
    height: 56px;
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 42px;
    justify-content: space-between;

}

.reaction_title {

    font-family: "Fightree", sans-serif;
    font-size: 16px;
    color: hsl(359, 55%, 71%);
    margin-left: 12px;
    margin-right: 84px;

}


.memory_title {

    font-family: "Fightree", sans-serif;
    font-size: 16px;
    color: hsl(41, 62%, 66%);
    margin-left: 11px;
    margin-right: 90px;

}

.verbal_title {

    font-family: "Fightree", sans-serif;
    font-size: 16px;
    color: hsl(165, 43%, 57%);
    margin-right: 90px;

}

.visual_title {

    font-family: "Fightree", sans-serif;
    font-size: 16px;
    color: hsl(236, 42%, 58%);
    margin-right: 90px;

}

.reaction > img {

    margin-left: 19px;

}

.memory > img {

    margin-left: 19px;

}


.verbal > img {

    margin-left: 19px;

}


.visual > img {

    margin-left: 19px;

}

.continue {

    width: 288px;
    height: 56px;
    border-radius: 26px;
    border: none;
    background-color: hsl(224, 30%, 27%);
    color: hsl(217, 15%, 76%);
    font-family: "Fightree", sans-serif;
    font-size: 16px;
    font-weight: 700;
    
}

.continue:hover {

    cursor: pointer;
    background: linear-gradient(
        to bottom,
        hsl(252, 100%, 67%),
        hsl(241, 81%, 54%)
    );
    color: aliceblue;

}

.score_reaction, .score_memory, .score_verbal, .score_visual {

    margin-right: 23px;
    white-space: nowrap;

}


.score_reaction_one, .score_memory_one, .score_verbal_one, .score_visual_one {

    font-family: "Fightree", sans-serif;
    font-size: 16px;
    color: hsl(224, 30%, 27%);
    font-weight: 700;

}

.score_reaction_two, .score_memory_two, .score_verbal_two, .score_visual_two {

    font-family: "Fightree", sans-serif;
    font-size: 16px;
    color: grey;
    font-weight: 700;

}


@media (max-width: 736px) { 
   
    .container {

        display: flex;
        flex-direction: column;

    }

    .white_card {

        border-radius: 0 0 36px 36px;

    }

    .comment {

        margin-bottom: 46px;

    }

    .continue {

        margin-bottom: 30px;

    }
}